<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Контейнеры - Голема</title>
  <link rel="stylesheet" href="css/containers.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>

<body>
  <div id="app">
  <!--TX1-->
    <transition name="modal">
      <div class="container" v-if="active">
        <header>
          <i class="fa fa-anchor" aria-hidden="true"></i>
          <h1>ID: {{container.ID}}</h1>
          <span>
            <i @click="closeMenu()" class="fa fa-times-circle-o" aria-hidden="true"></i>
          </span>
        </header>
        <div class="main" v-if="page == 0">
          <div class="upblock">
            <div class="avatar">
              <img :src="`images/`+container.Name+`.png`">
            </div>
            <div class="info">
              <h2>
                <i class="fa fa-info-circle" aria-hidden="true"></i> Информация
              </h2>
              <p>
                <i class="fa fa-dropbox" aria-hidden="true"></i> Контейнер: <b>{{container.Name}}</b>
              </p>
              <p>
                <i class="fa fa-cube" aria-hidden="true"></i> Количество товара: <b>{{filterLoots.length}}</b>
              </p>
              <p>
                <i class="fa fa-rub" aria-hidden="true" v-if="container.Donate"></i>
                <i class="fa fa-usd" aria-hidden="true" v-else></i>
                 Цена для открытия: <b>{{container.Price}}</b>
              </p>
            </div>
          </div>
          <div class="description">
            <p>
              Вам могут выпасть так и товар, который Вы хотели, так и другой, который Вам совсем ни к чему! Всё зависит от Вашего везения. После открытия, машина будет доставлена в Ваш гараж, а если у Вас нет дома, то отвезена на ближайшую стоянку.
            </p>
            <p>
              <a class="btnBuy" @click="openContainer()">Открыть</a>
            </p>
          </div>
        </div>
        <div class="main pageBuys" v-if="page == 1">
          <h2>Возможные выигрыши</h2>
          <div class="items">
            <div class="item" v-for="(item, index) in filterLoots">
              <img :src="`images/loots/`+ container.Name +`/`+ item + `.png`" alt="">
              <p>
                <b>{{item}}</b>
              </p>
            </div>
          </div>
        </div>
		<!--TX1-->
        <footer>
          <div>
            <a :class="{btnActive: page == 0}" class="button" @click="changePage(0)">Главная</a>
          </div>
          <div>
            <a :class="{btnActive: page == 1}" class="button" @click="changePage(1)">Товары</a>
          </div>
        </footer>
      </div>
    </transition>

    <transition name="fade">
      <div class="fade" v-if="active"></div>
    </transition>
	<!--TX1-->
  </div>
  <script src="js/containers.js"></script>
</body>
<!--TX1-->
</html>
