
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0" name="viewport">
	<link href="../banks/fonts/font/stylesheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../banks/css/atm_new.css">
    <script src="../js/vue.js"></script>
</head>

<body>
   <div class="atm_new" v-if="active">
	  <div class="bgshow"></div>
	  <transition name="fade">
		<div class="contents" v-if="page == 0">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
				<div class="center-block">
				</div>
			<div class="info">
			<div class="name-atm-welcome">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			<h1 style="text-align:center"><b style="font-weight: 500;color:#ffb943">{{holder}}</b> Willkommen in unserer Bank<br>Wir sind Ihnen sehr dankbar, dass Sie unsere Bank nutzen <br><b style="font-weight: 500; color:#ffb943">{{holder}}</b> wenn Sie einen Fehler oder Defekt im System gefunden haben<br>Schreiben Sie uns einen /report und wir werden das Problem so schnell wie möglich beheben.</h1>
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			  </div>
			</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 1">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btnActive" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="info">
			<h1>Wählen Sie die gewünschte Operation</h1>
			<div class="center-block">
				<div class="btncenter" v-on:click="pages(2)" @click="btn" id="0">Ihr Konto aufladen</div>
				<div class="btncenter" v-on:click="pages(3)" @click="btn" id="1">Vom Konto abheben</div>
			</div>
			</div>
			<div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
					</div>
			</div>
		</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 2">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btnActive" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenterActive" v-on:click="pages(2)" @click="btn" id="0">Ihr Konto aufladen</div>
			<div class="btncenter" v-on:click="pages(3)" @click="btn" id="1">Vom Konto abheben</div>
			</div>
			<div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
					</div>
			</div>
		</div>
		
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 3">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btnActive" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenter" v-on:click="pages(2)" @click="btn" id="0">Ihr Konto aufladen</div>
			<div class="btncenterActive" v-on:click="pages(3)" @click="btn" id="1">Vom Konto abheben</div>
			</div>
			<div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
				</div>
			</div>
			</div>
		
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 4">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btnActive" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenter" v-on:click="pages(5)" @click="btn" id="4">Übertragung auf ein anderes Konto</div>
			</div>
			<div class="info">
			<h1>Wählen Sie die gewünschte Operation</h1>
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			</div>
		</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 5">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btnActive" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenterActive" v-on:click="pages(5)" @click="btn" id="4">Übertragung auf ein anderes Konto</div>
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			</div>
		</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 6">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btnActive" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenter" v-on:click="pages(7)" @click="btn" id="2">Steuer zahlen</div>
			</div>
			<div class="info">
			<h1>Wählen Sie die gewünschte Operation</h1>
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			</div>
			 <div v-if="type == 3">
                <div v-for="(b, i) in subdata">
                    <div @click="btn" :id="i" class="block8">
						<p :id="i" class="lex1">{{b}}</p>
					</div>
                </div>
            </div>
		</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 7">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btnActive" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btn" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenterActive" v-on:click="pages(7)" @click="btn" id="2">Steuer zahlen</div>
			</div>
			<div class="info">
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			</div>
			 <div v-if="type == 3">
                <div v-for="(b, i) in subdata">
                    <div @click="btn" :id="i" class="block8">
						<p :id="i" class="lex1">{{b}}</p>
					</div>
                </div>
            </div>
		</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 8">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btnActive" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenter" v-on:click="pages(9)" @click="btn" id="3">Steuer zahlen</div>
			</div>
			<div class="info">
			<h1>Wählen Sie die gewünschte Operation</h1>
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			</div>
			 <div v-if="type == 3">
                <div v-for="(b, i) in subdata">
                    <div @click="btn" :id="i" class="block8">
						<p :id="i" class="lex1">{{b}}</p>
					</div>
                </div>
            </div>
		</div>
	</transition>
	 <transition name="fade">
		<div class="contents" v-if="page == 9">
			<div class="bg-atm"></div>
			<div class="border-right-bg"></div>
			
			<div class="name-atm">
			<h1>FLEECA <b>Bank<b></h1>
			</div>
			
			<div class="info-atm">
				<a class="one">{{number}} <br><b>Kontonummer </b></a>
				<a class="balance">${{balance | formatThousands1}} <br><b>Geld auf dem Konto </b></a>
			</div>
			
			<div class="btnlink">
				<div class="btn" v-on:click="pages(0)"><img src="ico/home.png" class="ico">Startseite</div>
				<div class="btn" v-on:click="pages(1)"><img src="ico/yp.png" class="ico">Kontoverwaltung</div>
				<div class="btn" @click="pages(4)"><img src="ico/transfer.png" class="ico">Überweisung auf das Konto</div>
				<div class="border"></div>
				<div class="btn" @click="pages(6)"><img src="ico/taxes.png" class="ico">Bezahlen Sie die Steuer für das Haus</div>
				<div class="btnActive" @click="pages(8)"><img src="ico/taxes.png" class="ico">Gewerbesteuer zahlen</div>
				<div @click="exit" class="btnexit" style=""><img src="ico/exit.png" class="ico">Abmelden</div>
			</div>
				<div class="blockGreen"></div>
				<div class="blockWhite"></div>
			<div class="center-block">
			<div class="btncenterActive" v-on:click="pages(9)" @click="btn" id="3">Steuer zahlen</div>
			</div>
			<div class="info">
			</div>
			<div v-if="type == 2">
				<div class="input-atm">
				<a>Geben Sie Ihren Betrag an</a>
				<input :placeholder="plholder" v-model="value" type="text" maxlength="12">
				<div @click="next" id="next" class="next"><p id="next">Weiter</p></div>
					<p class="subdata">{{subdata}}</p>
				</div>
			</div>
			 <div v-if="type == 3">
                <div v-for="(b, i) in subdata">
                    <div @click="btn" :id="i" class="blocks">
						<p :id="i" class="texxt">{{b}}</p>
					</div>
                </div>
            </div>
		</div>
	</transition>
	 <transition name="fade">
		
	</div>
	
	
   	<script>Vue.filter('formatThousands', (x) => {return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");})</script> 
	<script>Vue.filter('formatThousands1', (x) => {return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");})</script> 
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="js/atm.js"></script>
</body>

</html>

<!--




-->