<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Immobilienmakler - ULIFE</title>
  <link rel="stylesheet" href="css/realtor.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
  <div id="app">
    <div class="container" v-if="active">
      <header>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <h1>Immobilienmakler</h1>
        <span>
          <i v-if="pageNum == 1" @click="showModalFitler()" class="fa fa-cog" aria-hidden="true"></i>
          <i @click="cancel()" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </span>
      </header>
      <div class="main">
        <div class="modal-filter" v-if="modalFilter">
          <input v-model.number="search" type="number" placeholder="Trage ID ein">
          <span>
            Preis ab
            <input v-model.number="minPrice" type="number" placeholder="Min">
            bis
            <input v-model.number="maxPrice" type="number" placeholder="Max">
          </span>
        </div>
        <div class="houseClass" v-if="pageNum == 0">
          <div v-for="(hclass, index) in classes">
            <span>
              <h1>{{hclass.name}}</h1>
              <i @click="classInfo(hclass)" class="fa fa-info-circle" aria-hidden="true"></i>
            </span>
            <p>
              <a class="button" @click="selectClass(hclass.id)">Auswählen</a>
            </p>
          </div>
        </div>
        <div class="slct-class" v-if="pageNum == 1">
          <div class="homefade" v-if="modalFilter"></div>
          <div v-for="(house, index) in filterHouse" v-if="filterPrice(house) == true">
            <h2>Haus #{{house[0]}}</h2>
            <a class="button btnGreen" @click="info(house)">Informationen ${{house[5]}}</a>
          </div>
        </div>
      </div>
    </div>
    <transition name="modal">
      <div class="modal-window classModal" v-if="activeClassModal">
        <header>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <h2>Klasse {{hclass.name}}</h2>
          <span class="stars">
            <i
              v-for="(star, index) in stars"
              class="fa"
              aria-hidden="true"
              :class="getCountStar(index, hclass.id)"
              >
            </i>
          </span>
        </header>
        <div>
          <p>
            <i class="fa fa-tag" aria-hidden="true"></i>{{hclass.title}}
          </p>
          <p>
            <i class="fa fa-user-plus" aria-hidden="true"></i>Für
            {{ hclass.room < 5 ? hclass.room+" Personen" : hclass.room+" Personen"}}
          </p>
        </div>
        <footer>
          <a class="button mg-center btnCancel" @click="cancelmodal">Abbrechen</a>
        </footer>
      </div>
    </transition>
    <transition name="modal">
      <div class="modal-window" v-if="modalVisible">
        <header>
          <i class="fa fa-home" aria-hidden="true"></i>
          <h2>Haus #{{house[0]}}</h2>
        </header>
        <div>
          <p>
            <i class="fa fa-info-circle" aria-hidden="true"></i> {{classes[selectedClass].name}}
          </p>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{street}}
          </p>
          <p>
            <i class="fa fa-road" aria-hidden="true"></i> {{crossingRoad}}
          </p>
          <p>
            <i class="fa fa-car" aria-hidden="true"></i> {{house[4]}} Parkplätze
          </p>
          <p>
            <i class="fa fa-money" aria-hidden="true"></i> ${{ parseInt((house[2] / 100 * 0.013) * 24) }}/Pro Tag
          </p>
          <p>
            <i class="fa fa-usd" aria-hidden="true"></i> {{house[2]}}
          </p>
        </div>
        <footer>
          <a class="button btnGps" @click="setGPS">Route</a>
          <a class="button btnCancel" @click="cancelmodal">Abbrechen</a>
        </footer>
      </div>
    </transition>
    <transition name="fade">
      <div class="fade" v-if="modalVisible || activeClassModal"></div>
    </transition>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="js/realtor.js"></script>
  <!-- 1AL -->
</body>

</html>
