* {
	user-select: none;
}

.smartphone {
	background: url('img/handy.png');
	width: 42vw;
	height: 40vw;
	background-repeat: no-repeat;
	background-size: 35vw;
	transform: rotate(90deg);
	position: absolute;
	bottom: 0vw;
	right: 16.5vw;
}

.smartphonein {
	transform: rotate(-90deg);
	width: 15.7vw;
	position: absolute;
	left: 9.39vw;
	top: -6.5vw;
	z-index: 1;
	height: 30.2vw;
	overflow: hidden;
}

.background {
	width: 15.7vw;
	position: absolute;
	z-index: 1;
	height: 30.3vw;
}

body {
	overflow: hidden;
	-webkit-user-select: none;
	/* Safari 3.1+ */
	-moz-user-select: none;
	/* Firefox 2+ */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Standard syntax */
}

.icon1 {
	left: 3vw;
}

.icon2 {
	left: 7.5vw;
}

.icon3 {
	right: 3vw;
}

.icon1,
.icon2,
.icon3 {
	position: absolute;
	z-index: 33;
	width: 1vw;
	bottom: 0.5vw;
	cursor: pointer;
}

.icon1:hover,
.icon2:hover,
.icon3:hover {}

.internet {
	color: #ffffff;
	position: absolute;
	z-index: 100;
	left: 0.2vw;
	font-family: 'OSL';
	font-weight: 600;
	font-size: 0.7vw;
	top: 0.1vw;
}

.icons {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	position: absolute;
	width: 100%;
	height: 1.5vw;
	top: 0.2vw;
	z-index: 200;
}

.icon {
	position: absolute;
}

.icon4 {
	width: 1vw;
	position: absolute;
	left: 8vw;
}

.icon5 {
	width: 1vw;
	position: absolute;
	left: 7.3vw;
}

.akku {
	color: #fff;
	font-family: 'OSR';
	position: absolute;
	left: 9.2vw;
	float: left;
	width: 2vw;
	font-size: 0.75vw;
}

.charge {
	position: absolute;
	width: 1.2vw;
	height: 0.5vw;
	border: 0.03vw solid #fff;
	display: inline-block;
	border-radius: 0.1vw;
	background-clip: padding-box;
	z-index: 10;
	left: 11.5vw;
	top: 0.3vw;
	transform: scale(1.2);
}

.charge:before {
	content: '';
	position: absolute;
	right: -0.2vw;
	width: 0.15vw;
	height: 0.2vw;
	top: 0.1vw;
	background: #fff;
	display: inline-block;
	border-radius: 0 0.05vw 0.05vw 0;
	background-clip: padding-box;
}

.charge:after {
	content: '';
	position: absolute;
	top: 0.04vw;
	left: -0.05vw;
	width: 100%;
	height: 0.45vw;
	background: #fff;
	display: inline-block;
	transform: scale(0.9);
	border-radius: 0.05vw;
}

.time {
	color: #fff;
	font-family: 'OSR';
	position: absolute;
	left: 13.5vw;
	font-size: 0.75vw;
}

.down {
	bottom: -5vw !important;
}

.hide {
	display: none;
}

.iconsdown {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	position: absolute;
	width: 100%;
	height: 4vw;
	bottom: 3vw;
	z-index: 20;
	align-items: center;
	justify-items: center;
	left: 1vw;
	top: 24.5vw;
}

.icondown {
	width: 3vw;
	float: left;
	margin-right: 0.75vw;
}

.r {
	background-image: linear-gradient(#692443, #6d4157);
	border-radius: 0.6vw;
	box-shadow: inset 0px 1px 2px -1px rgba(255, 255, 255, 0.88);
}

.p {
	background-image: linear-gradient(#352863, #43426b);
	border-radius: 0.6vw;
	box-shadow: inset 0px 1px 2px -1px rgba(255, 255, 255, 0.88);
}

.icondownimg {
	width: 2.5vw;
	padding: 0.1vw;
}

.start {
	color: #fff;
	position: absolute;
	top: 1vw;
	z-index: 20;
}

.call {
	color: #fff;
	position: absolute;
	top: 1vw;
	z-index: 20;
	left: 0vw;
}

.contact {
	color: #fff;
	position: absolute;
	top: 1vw;
	z-index: 20;
	left: 0vw;
}

.sms {
	color: #fff;
	position: absolute;
	top: 1vw;
	z-index: 20;
	background: #fff;
	top: 0vw;
	left: 0vw;
	width: 100%;
	height: 100%;
}

.settings {
	color: #fff;
	position: absolute;
	top: 1vw;
	z-index: 20;
}

.hidden {
	display: none;
}

.icondown {
	transition: 0.2s;
	cursor: pointer;
	position: relative;
}

.callbackground {
	position: absolute;
	background: #fff;
	width: 15.7vw;
	height: 30.25vw;
	top: -1vw;
	border-right: 1vw solid #fff;
}

.callnumbers {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	position: absolute;
	top: 15vw;
	width: 100%;
	height: 13vw;
	border-top: 0.05vw solid rgba(0, 0, 0, 0.25);
	border-bottom: 0.05vw solid rgba(0, 0, 0, 0.25);
	left: 0.2vw;
}

.callnumber {
	color: #000;
	font-family: 'OSB';
	float: left;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	position: relative;
	left: 0.75vw;
	font-size: 1vw;
}

.callnumbers2 {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	position: absolute;
	top: 15vw;
	width: 100%;
	height: 13vw;
	left: 0.2vw;
}

.callnumber2 {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'OSR';
	float: left;
	margin-left: 1.8vw;
	margin-right: 1.8vw;
	margin-top: 0.5vw;
	margin-bottom: 1.15vw;
	position: relative;
	left: 0.75vw;
	font-size: 0.5vw;
	top: 1.25vw;
	font-weight: 700;
}

.g {
	z-index: 40;
	opacity: 0.75;
}

.akkub {
	color: #3c3c3c;
	font-family: 'OSR';
	position: absolute;
	left: 9.2vw;
	float: left;
	width: 2vw;
	font-size: 0.75vw;
}

.chargeb {
	position: absolute;
	width: 1.2vw;
	height: 0.5vw;
	border: 0.03vw solid #3c3c3c;
	display: inline-block;
	border-radius: 0.1vw;
	background-clip: padding-box;
	z-index: 10;
	left: 11.5vw;
	top: 0.3vw;
	transform: scale(1.2);
}

.chargeb:before {
	content: '';
	position: absolute;
	right: -0.2vw;
	width: 0.15vw;
	height: 0.2vw;
	top: 0.1vw;
	background: #3c3c3c;
	display: inline-block;
	border-radius: 0 0.05vw 0.05vw 0;
	background-clip: padding-box;
}

.chargeb:after {
	content: '';
	position: absolute;
	top: 0.04vw;
	left: -0.05vw;
	width: 100%;
	height: 0.45vw;
	background: #3c3c3c;
	display: inline-block;
	transform: scale(0.9);
	border-radius: 0.05vw;
}

.timeb {
	color: #3c3c3c;
	font-family: 'OSR';
	position: absolute;
	left: 13.5vw;
	font-size: 0.75vw;
}

.internetb {
	color: #3c3c3c;
	position: absolute;
	z-index: 200;
	left: 0.2vw;
	font-family: 'OSL';
	font-weight: 600;
	font-size: 0.7vw;
	top: 0.1vw;
}

.numpad {
	width: 1.5vw;
	position: absolute;
	bottom: 3.25vw;
	left: 2.3vw;
	cursor: pointer;
}

.callicon2 {
	width: 1.5vw;
	position: absolute;
	bottom: 3vw;
	background: #13b711;
	border-radius: 2vw;
	padding: 0.5vw;
	left: 6.6vw;
	cursor: pointer;
}

.callsettings {
	width: 1.5vw;
	position: absolute;
	bottom: 3.25vw;
	right: 2.67vw;
	cursor: pointer;
}

.callback {
	width: 1.5vw;
	position: absolute;
	bottom: 3.25vw;
	right: 2.67vw;
	cursor: pointer;
	display: none;
}

.telkofavs {
	float: left;
	color: #000;
	font-family: 'OSB';
	position: relative;
	left: 0vw;
	text-align: center;
	border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
	padding-left: 1vw;
	padding-right: 1vw;
	width: 3.2vw;
	padding-bottom: 0.5vw;
	font-size: 0.7vw;
}

.telkofav {
	position: absolute;
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	top: 2vw;
	width: 100%;
	height: 3vw;
}

.callnumbers3 {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	position: absolute;
	top: 15vw;
	width: 100%;
	height: 9.7vw;
	left: 0vw;
	z-index: 200;
}

.callnumber3 {
	font-family: 'OSR';
	float: left;
	position: relative;
	left: 1vw;
	font-size: 0.5vw;
	top: 0.25vw;
	font-weight: 700;
	width: 4.5vw;
	height: 2.35vw;
	cursor: pointer;
}

.outputnumbers {
	position: absolute;
	z-index: 400;
	top: 1vw;
	color: #000;
	font-size: 1.25vw;
	font-family: 'OSB';
	text-transform: uppercase;
	-webkit-appearance: none;
	background-color: transparent;
	-webkit-rtl-ordering: unset;
	cursor: default;
	padding: 0;
	border-width: 0;
	border-style: none;
	border-color: transparent;
	border-image: none;
	text-align: center;
	width: 100%;
	height: 4vw;
	padding-bottom: 0vw;
	border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
	display: none;
}

#searchInput {
	width: 100%;
	font-size: 0.7vw;
	padding: 0.2vw;
	margin-bottom: 1vw;
	position: absolute;
	top: 3.8vw;
	background: rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 3.1vw;
	width: 14vw;
	left: 0.75vw;
	font-family: 'OSR';
	padding-left: 0.5vw;
	opacity: 0.75;
}

#searchTable {
	border-collapse: collapse;
	width: 100%;
	/* border: 0.01vw solid #ddd; */
	font-size: 1vw;
	position: absolute;
	top: 5.5vw;
}

#searchTable th,
#searchTable td {
	text-align: left;
	padding: 0vw 1vw;
}

#searchTable tr {
	border-bottom: 1px solid #ddd;
}

#searchTable tr.header,
#searchTable tr:hover {
	background-color: #f1f1f1;
}

.fav {
	color: #fff;
	position: absolute;
	top: 1vw;
	z-index: 20;
}

.favbox {
	position: absolute;
	background: #fff;
	top: 10vw;
	height: 7vw;
	z-index: 200;
	width: 13.5vw;
	left: 1.1vw;
	color: #000;
	border-radius: 0.1vw;
	box-shadow: 0.1vw 0.3vw 1vw 0.1vw rgba(0, 0, 0, 0.3);
}

.favtitle {
	font-family: 'OSB';
	font-size: 0.75vw;
	position: absolute;
	top: 0.5vw;
	left: 0.5vw;
}

.favsubtitle {
	font-family: 'OSR';
	font-size: 0.6vw;
	position: absolute;
	top: 2.5vw;
	left: 0.5vw;
	font-weight: 700;
}

.favback {
	font-family: 'OSB';
	font-size: 0.7vw;
	text-transform: uppercase;
	position: absolute;
	top: 5vw;
	left: 0.5vw;
	color: #21b7c7;
	cursor: pointer;
}

.favbackground {
	position: absolute;
	background: #fff;
	width: 15.7vw;
	height: 30.25vw;
	top: -1vw;
}

.favbackground2 {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 15.7vw;
	height: 30.25vw;
	top: 0vw;
	z-index: 200;
}

.conPic {
	width: 2vw;
	position: relative;
	left: 0.5vw;
	top: 0.5vw;
}

.contacttt {
	font-size: 0.75vw;
	font-family: 'OSR';
	font-weight: 600;
}

.conttext {
	position: relative;
	left: 3.5vw;
	top: -1vw;
}

input:focus,
textarea:focus,
select:focus {
	outline-offset: 0;
}

:focus {
	outline: none;
}

#searchInput::placeholder {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
}

.headerb {
	display: none;
}

.header {}

.newcontact {
	position: absolute;
	z-index: 300;
	background: #fff;
	top: 25vw;
	width: 8.5vw;
	left: 1.5vw;
	box-shadow: 0vw 0.05vw 0.2vw 0.02vw rgba(0, 0, 0, 0.4);
	border-radius: 2vw;
	height: 2vw;
	color: #6f6f6f;
	font-family: 'OSR';
	font-size: 0.5vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

.newcontactimg {
	width: 1.25vw;
	position: relative;
	left: 1vw;
	margin-right: 3.2vw;
	top: 0vw;
}

.newcontactimg2 {
	width: 1vw;
	position: relative;
	left: 2.3vw;
	margin-right: 0vw;
	top: -0.1vw;
}

.newcontactext {
	position: absolute;
	left: 2vw;
	bottom: 0.1vw;
}

.newcontactext2 {
	position: absolute;
	right: 4.1vw;
	bottom: 0.25vw;
}

.newcontactext3 {
	position: absolute;
	right: 2.5vw;
	bottom: 0.1vw;
}

.gmaps {
	border-radius: 0.5vw;
	width: 2.7vw;
	position: absolute;
	top: 1.5vw;
	left: 1vw;
	cursor: pointer;
}

.addContact {
	position: relative;
	left: 16vw;
	height: 100%;
	background: #fff;
}

.ac-title {
	position: relative;
	top: 2vw;
	color: #000;
	text-align: center;
	font-family: 'OSR';
	font-weight: 700;
	border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
	padding-bottom: 0.75vw;
}

.ac-text1 {
	position: absolute;
	color: #000;
	font-family: 'OSR';
	font-size: 0.6vw;
	font-weight: 600;
	top: 3.9vw;
	text-align: center;
	width: 16vw;
	height: 1.5vw;
	line-height: 1.6vw;
	background: rgba(0, 0, 0, 0.05);
}

.ac-text2 {
	position: absolute;
	color: #000;
	font-family: 'OSR';
	font-weight: 600;
	top: 8.05vw;
	font-size: 0.65vw;
	left: 3vw;
	z-index: 1;
}

.ac-text3 {}

.ac-icon1 {
	position: absolute;
	width: 1vw;
	top: 8vw;
	left: 1vw;
	opacity: 0.6;
}

.ac-icon2 {
	position: absolute;
	width: 0.9vw;
	top: 10.3vw;
	left: 1vw;
	opacity: 0.6;
}

.ac-name {
	position: relative;
	top: 3vw;
	border: none;
	border-bottom: 0.05vw solid rgba(0, 0, 0, 0.2);
	width: 12vw;
	padding-bottom: 0.25vw;
	font-weight: 600;
}

.ac-number {
	position: relative;
	top: 4.5vw;
	border: none;
	border-bottom: 0.05vw solid rgba(0, 0, 0, 0.2);
	width: 12.15vw;
	left: 2.8vw;
	padding-bottom: 0.25vw;
	padding-left: 3vw;
	font-weight: 600;
}

.ac-name::placeholder,
.ac-number::placeholder {
	font-size: 0.65vw;
	color: rgba(0, 0, 0, 0.4);
	font-weight: 600;
	font-family: 'OSR';
}

.ac-tone {
	position: relative;
	top: 5.5vw;
	border: none;
	border-bottom: 0.05vw solid rgba(0, 0, 0, 0.2);
	width: 12.15vw;
	left: 2.8vw;
	padding-bottom: 0.25vw;
	padding-left: 0.25vw;
	font-weight: 600;
	color: #000;
	font-family: 'OSR';
	font-size: 0.65vw;
	word-spacing: 5.5vw;
}

.ac-accept {
	width: 1.25vw;
	position: relative;
	left: 13.5vw;
	top: 0.1vw;
}

.ac-deny {
	width: 1.25vw;
	position: relative;
	left: -0.5vw;
	top: 0vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.showContact {
	background: #fff;
	height: 100%;
	position: absolute;
	left: -15.7vw;
	width: 100%;
	top: -0.05vw;
}

.sc-background {
	position: absolute;
	width: 100%;
	height: 15vw;
	background: #4343d6;
}

.sc-backicon {
	color: #fff;
	width: 1vw;
	position: absolute;
	top: 2vw;
	left: 0.5vw;
	font-size: 1vw;
}

.sc-name {
	color: #fff;
	position: absolute;
	top: 12.5vw;
	font-family: 'OSR';
	font-size: 1.25vw;
	left: 1vw;
}

.sc-details {
	position: absolute;
	color: #0058ff;
	top: 16vw;
	left: 4.85vw;
	font-size: 0.5vw;
	font-family: 'OSB';
	background: rgba(0, 112, 255, 0.27);
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 0.25vw;
	padding-bottom: 0.25vw;
	border-radius: 2vw;
}

.sc-callicon {
	color: #0009;
	width: 1vw;
	position: absolute;
	top: 19vw;
	left: 0.5vw;
	font-size: 1vw;
	transform: scaleX(-1);
}

.sc-messageicon {
	color: #0087ff;
	width: 1vw;
	position: absolute;
	top: 19vw;
	left: 13.5vw;
	font-size: 1vw;
}

.sc-number {
	color: #000;
	position: absolute;
	top: 17.5vw;
	left: 0vw;
	font-size: 0.75vw;
	font-family: 'OSR';
	font-weight: 600;
	width: 12vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-left: 2.5vw;
	border-bottom: 0.05vw solid #0003;
}

.sc-numbername {
	color: #4e4e4e;
	width: 1vw;
	position: absolute;
	top: 19.5vw;
	left: 2.5vw;
	font-size: 0.6vw;
	font-family: 'OSR';
	font-weight: 600;
}

.sc-bell {
	color: #0009;
	width: 1vw;
	position: absolute;
	top: 22vw;
	left: 0.5vw;
	font-size: 1vw;
	transform: scaleX(-1);
}

.sc-tone {
	color: #000;
	position: absolute;
	top: 20.5vw;
	left: 0vw;
	font-size: 0.75vw;
	font-family: 'OSR';
	font-weight: 600;
	width: 12vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-left: 2.5vw;
	border-bottom: 0.05vw solid #0003;
}

.sc-tonename {
	color: #4e4e4e;
	width: 1vw;
	position: absolute;
	top: 22.5vw;
	left: 2.5vw;
	font-size: 0.6vw;
	font-family: 'OSR';
	font-weight: 600;
}

.caller {
	position: absolute;
	top: 0vw;
	width: 17vw;
	height: 100%;
	left: 16vw;
	background: #000;
}

.c-time {
	position: absolute;
	color: #ffffff75;
	font-family: 'OSR';
	top: 3vw;
	left: 7.75vw;
	font-size: 0.6vw;
}

.c-icon {
	width: 4vw;
	position: absolute;
	left: 6.6vw;
	top: 5vw;
}

.c-number {
	font-family: 'OSR';
	margin-top: 9.3vw;
	text-align: center;
	font-size: 1vw;
	margin-left: 0.25vw;
}

.c-ort {
	position: absolute;
	color: #ffffff75;
	font-family: 'OSR';
	top: 11vw;
	left: 7.2vw;
	font-size: 0.5vw;
}

.c-cancel {
	width: 1.5vw;
	position: absolute;
	bottom: 3vw;
	background: #b71111;
	border-radius: 2vw;
	padding: 0.5vw;
	left: 7.6vw;
	cursor: pointer;
	transform: rotate(135deg);
}

.getCalled {
	position: absolute;
	top: 0vw;
	left: 0vw;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: #000;
	display: none;
}

.gc-pic {
	position: absolute;
	width: 4vw;
	left: 5.5vw;
	top: 3vw;
}

.gc-name {
	font-family: 'OSR';
	color: #fff !important;
	font-size: 1vw;
	text-align: center;
	line-height: 15.4vw;
	margin-left: -0.5vw;
}

.gc-ort {
	font-family: 'OSR';
	color: #ffffff61;
	font-size: 0.6vw;
	position: absolute;
	top: 8.5vw;
	left: 5.8vw;
}

.gc-icon1 {
	color: #fff;
	width: 1.5vw;
	position: absolute;
	top: 19vw;
	left: 7.2vw;
	font-size: 1.5vw;
}

.gc-text1 {
	font-family: 'OSR';
	color: #ffffff61;
	font-size: 0.6vw;
	position: absolute;
	top: 20.5vw;
	left: 6.6vw;
}

.gc-cancel {
	width: 2vw;
	position: absolute;
	bottom: 3vw;
	background: #b71111;
	border-radius: 2vw;
	padding: 0.5vw;
	left: 2vw;
	cursor: pointer;
	color: #fff;
	transform: rotate(135deg);
}

.gc-accept {
	width: 2vw;
	position: absolute;
	bottom: 3vw;
	background: #13b711;
	border-radius: 2vw;
	padding: 0.5vw;
	left: 10.5vw;
	cursor: pointer;
	color: #fff;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(90deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(89.8deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(90.2deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(90deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(90.2deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(89.8deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(90deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(89.8deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(90.2deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(90deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(89.8deg);
	}
}

.yougetcalled {
	animation: shake 0.5s infinite;
	bottom: 15vw;
	transition: 0.5s;
}

#smssearch {
	position: absolute;
	top: 3vw;
	left: 1vw;
	width: 14vw;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 2vw;
	height: 1vw;
	padding-left: 0.5vw;
	font-size: 0.6vw;
}

#smssearch::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

#smslist {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 4vw;
	width: 12vw;
	padding-left: 3vw;
	overflow: auto;
	height: 23vw;
}

#smslist li a {
	border-bottom: 0.05vw solid #ddd;
	margin-top: 0vw;
	/* Prevent double borders */
	padding: 0.75vw;
	text-decoration: none;
	color: black;
	display: block;
	font-family: 'OSR';
	font-size: 0.7vw;
	font-weight: 700;
	margin-left: 0vw;
	text-align: left;
	position: relative;
	padding-left: 0vw;
	margin-left: 2vw;
	left: -1.75vw;
	width: 11vw;
}

.sms-pb {
	width: 1.75vw;
	float: left;
	position: relative;
	left: -2vw;
	top: 1vw;
}

#smslist li {
	margin-bottom: 0.25vw;
}

#smslist .name {}

#smslist .message {
	width: 11.75vw;
	overflow: hidden;
	font-size: 0.6vw;
	color: #0000009c;
	position: relative;
	top: 0.25vw;
}


/* width */

::-webkit-scrollbar {
	display: none;
}


/* Track */
::-webkit-scrollbar-track {
	display: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
	display: none;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	display: none;
}

.sms-message {
	position: absolute;
	left: 15vw;
	top: 0vw;
	width: 17vw;
	height: 100%;
	background: #fff;
}

.sm-back {
	color: #0087ff;
	width: 1vw;
	position: absolute;
	top: 1.4vw;
	left: 1.5vw;
	font-size: 1vw;
	z-index: 5;
}

.sm-number {
	position: absolute;
	color: #777777;
	font-family: 'OSR';
	font-weight: 600;
	top: 2.25vw;
	left: 0.7vw;
	width: 100%;
	padding-left: 3vw;
	padding-bottom: 0.5vw;
	font-size: 0.6vw;
}

.sm-call {
	color: #0087ff;
	width: 1vw;
	position: absolute;
	top: 1.6vw;
	left: 13.5vw;
	font-size: 0.8vw;
	transform: scaleX(-1);
}

.sm-settings {
	color: #0087ff;
	width: 1vw;
	position: absolute;
	top: 1.6vw;
	left: 14.75vw;
	font-size: 0.8vw;
	transform: scaleX(-1);
}

.sm-plus {
	color: #000000d6;
	width: 15.8vw;
	position: relative;
	top: 26.6vw;
	left: 0.7vw;
	font-size: 1vw;
	border-bottom: 0.05vw solid #00000061;
	padding-bottom: 0.5vw;
	padding-left: 0.5vw;
}

.sm-message {
	border: none;
	position: absolute;
	top: 26.4vw;
	background: #0000001f;
	border-radius: 1vw;
	left: 3vw;
	height: 1.25vw;
	width: 11.6vw;
	padding-left: 0.5vw;
}

.sm-smiley {
	color: #000000d6;
	width: 15.8vw;
	position: absolute;
	top: 26.6vw;
	left: 13.5vw;
	font-size: 1vw;
}

.sm-arrow {
	color: #000000d6;
	width: 15.8vw;
	position: absolute;
	top: 31vw;
	left: 13.35vw;
	font-size: 1vw;
	transform: rotate(37deg);
}

.sms-1 {
	position: absolute;
	top: 3.15vw;
	left: 15.7vw;
	width: 100%;
	height: 23vw;
	margin: 0 !important;
	padding: 0 !important;
	overflow: auto;
}

.sms-2 {
	position: absolute;
	top: 3.15vw;
	left: 15.7vw;
	width: 100%;
	height: 23vw;
	margin: 0 !important;
	padding: 0 !important;
}

.m1 {
	color: #000;
	position: relative;
	z-index: 25;
	left: 2vw;
	width: 12vw;
	top: 1vw;
	border-radius: 0.6vw;
	font-family: 'OSR';
	font-size: 0.7vw;
}

.pb1 {
	width: 1.5vw;
	position: relative;
	left: -1.7vw;
}

.m2 {
	/* background: #05af05; */
	color: #fff;
	position: relative;
	z-index: 25;
	left: 1.25vw;
	width: 12vw;
	top: 1vw;
	border-radius: 0.6vw;
	font-family: 'OSR';
	font-size: 0.7vw;
	height: auto;
}

.pb2 {
	width: 1.5vw;
	position: relative;
	left: 12.8vw;
	top: 0.25vw;
}

.stime {
	color: #00000087;
	font-size: 0.5vw;
	position: relative;
	top: -1.6vw;
	font-family: 'OSB';
	left: 0.25vw;
}

.m2 .stime {
	color: #00000087;
	font-size: 0.5vw;
	position: relative;
	top: -1.5vw;
	font-family: 'OSB';
	left: 11.1vw;
}

.mess {
	position: relative;
	top: -1.7vw;
	left: 0vw;
	width: 11vw;
	height: auto;
	background: #d0d0d0de;
	padding-top: 0.25vw;
	padding-bottom: 0.25vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	border-radius: 0.6vw;
}

.m2 .mess {
	position: relative;
	top: -1.5vw;
	left: 0.6vw;
	width: 11vw;
	/* height: 0vw; */
	background: #05af05;
}

.m1,
.m2 {
}

.sm-name {
	position: absolute;
	color: #000;
	font-family: 'OSR';
	font-weight: 600;
	top: 1.25vw;
	left: 0.7vw;
	border-bottom: 0.05vw solid #00000030;
	width: 100%;
	padding-left: 3vw;
	padding-bottom: 0.75vw;
	font-size: 0.8vw;
}

.smstitle {
	color: #000;
	position: absolute;
	font-family: 'OSR';
	font-weight: 600;
	top: 1.4vw;
	left: 1vw;
	float: left;
}

.smscount {
	color: #fff;
	background: #00ceff;
	float: right;
	position: absolute;
	top: 0.25vw;
	font-size: 0.5vw;
	padding-left: 0.25vw;
	padding-right: 0.25vw;
	left: 4.6vw;
	border-radius: 0.2vw;
}